.menu-icon {
  width: 45px;
  height: 45px;
  border: none;
  background-color: #2c3a47;
  text-align: center;
  line-height: 30px;
  font-size: 20px;
  color: white;
  z-index: 2;
  border-radius: 9px;
  cursor: pointer;
  transition: 0.2s linear;
}

.menu-icon:hover {
  opacity: 0.9;
  transform: scale(1.1);
}

.menu-icon.active{
  background: #f1f1f1;
  color: #2c3a47;
}
