.search-box {
  margin-right: 20px;
  background: #2c3a47;
  height: 45px;
  border-radius: 45px;
  padding: 9px;
}

.search-box:hover > .search-text {
  width: 200px;
  padding: 0 6px;
}

.search-btn {
  color: white;
  float: right;
  width: 28px;
  height: 28px;
  border-radius: 50%;
  background: #2c3a47;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: 0.1s;
}

/* .search-btn.nav {
  color: #2c3a47;
  transition: 0.2s;
} */

.search-btn.active {
  color: #f03861;
}

.search-text {
  border: none;
  background: none;
  outline: none;
  float: left;
  padding: 0;
  color: white;
  font-size: 1rem;
  transition: 0.4s;
  line-height: 26px;
  width: 0px;
}
