.header-bar {
  display: flex;
  /* border-style: solid; */
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  /* background-color: aliceblue; */
}

.header-bar h1 {
  /* position: absolute; */
  position: relative;
  display: inline-block;
  /* border-style: solid;
      border-color: black; */
  font-size: 3rem;
  font-family: 'Playfair Display', serif;
  color: #2c3a47;
}

.button-container {
  display: flex;
  z-index: 3;
}