.postext-container {
  width: 78%;
  margin-top: 1.5%;
  margin-left: auto;
  margin-right: auto;
  font-family: "Roboto Slab", serif;
}

.postext-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.postext-title h2 {
  font-size: 2.4rem;
}

.postext-title span {
  font-size: 1.1rem; 
}

.content-container {
  display: flex;
  /* border-style: solid;
  border-color: black; */
  margin-top: 2%;
}

.post-text-container {
  width: 40%;
  overflow-y: auto;
  height: 63.5vh;
  /* border-style: solid;
  border-color: green; */
}

.text-box {
  margin-bottom: 7%;
}

.text-box h2 {
  display: inline-block;
  font-size: 1.3rem;
}

.text-box-h2-active:hover {
  color: white;
  transition: 0.3s;
  cursor: pointer;
}

.text-box p {
  word-wrap: break-word;
  font-size: 1.2rem;
  margin-top: 1%;
  width: 97.5%;
}

.post-photo-container {
  text-align: right;
  /* border-style: solid;
  border-color: yellow; */
  width: 60%;
  overflow-y: auto;
  height: 65vh;
}

.post-photo-container img {
  /* height: 63.5vh; */
  width: 90%;
}
