.postext-container {
  width: 70%;
  margin-top: 0.5%;
  margin-left: auto;
  margin-right: auto;
  font-family: "Roboto Slab", serif;
}

.post-loading {
  margin-top: 22%;
  text-align: center;
}

.post-loading h1 {
  font-size: 2rem;
  transition: 0.3s;
}

.page-load-done {
  color: transparent;
}

.postext-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.postext-title h2 {
  font-size: 2.4rem;
}

.postext-title span {
  font-size: 1.1rem;
}

.post-tag {
  margin-left: 0.2%;
  margin-top: 1%;
}

.content-container {
  display: flex;
  /* border-style: solid;
  border-color: black; */
  margin-top: 1.5%;
  overflow-y: auto;
  height: 70vh;
}

.post-text-container {
  width: 100%;
  /* border-style: solid;
  border-color: green; */
}

.text-box {
  margin-bottom: 7%;
}

.text-box h2 {
  display: inline-block;
  font-size: 1.3rem;
}

.text-box p {
  word-wrap: break-word;
  font-size: 1.2rem;
  margin-top: 1%;
  /* width: 97.5%; */
}

.post-photo-container {
  text-align: center;
}

.post-photo-container img {
  margin-top: 20px;
  width: 60%;
}
